body {
  background-color: white;
}
.tree-ct {
  -webkit-user-select: none;
  cursor: pointer;
}
.tree-ct .node {
  position: relative;
  font-size: 16px;
  color: blue;
  margin: 10px;
}
.tree-ct .node .sub {
  padding-left: 38px;
  margin-top: 10px;
}
.tree-ct .node .sub.line {
  border: gray solid 0px;
  border-left-width: 1px;
  margin-left: 7px;
}
.tree-ct .title:before {
  content: 'u';
  float: left;
  margin-right: 2px;
  background-color: gray;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  position: relative;
  bottom: -2px;
  line-height: 15px;
}
.tree-ct .title.checked:before {
  content: 's';
  float: left;
  margin-right: 2px;
  background-color: black;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  position: relative;
  bottom: -2px;
  line-height: 15px;
}
.tree-ct .expand:before {
  content: '+';
  float: left;
  margin-right: 2px;
  background-color: red;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  position: relative;
  bottom: -2px;
  line-height: 15px;
}
.tree-ct .expand .sub {
  display: none;
}
.tree-ct .collapse:before {
  content: '-';
  float: left;
  margin-right: 2px;
  background-color: green;
  width: 15px;
  height: 15px;
  text-align: center;
  color: white;
  position: relative;
  bottom: -2px;
  line-height: 15px;
}
